@import './mixins';

.favorites {
  font-family: Mont, sans-serif;

  &__container {
    padding: 24px 16px;
    @include tablet-only {
      padding: 24px 32px;
    }

    @include desktop-only {
      padding: 24px 32px;
    }

    @include desktop-up {
      padding: 24px 152px;
    }
  }

  &__title {
    font-size: 32px;
    margin: 0;
    padding: 24px 0 8px;

    @include tablet-only {
      padding: 40px 0 8px;
    }
  }

  &__count {
    font-size: 14px;
    color: #89939a;
  }
  &__items {
    padding: 32px 0;
    display: flex;
    flex-wrap: wrap; // ← дозволяє переносити картки
    justify-content: center; // ← центрує по горизонталі
    gap: 40px; // ← проміжок між картками

    @include tablet-only {
      padding: 40px 0;
      gap: 16px;
    }

    @include desktop-only {
      padding: 40px 0;
      gap: 16px;
    }

    @include desktop-up {
      padding: 40px 0;
      gap: 16px;
    }
  }
}
