@import '../styles/mixins';

.home-page {
  width: 100%;
  font-family: Mont, sans-serif;

  &__container {
    padding: 72px 16px 0;

    @include tablet-only {
      padding: 80px 24px 0;
    }

    @include desktop-up {
      padding: 120px 32px 0;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 800;
    color: #313237;

    @include tablet-only {
      font-size: 48px;
    }

    @include desktop-up {
      font-size: 48px;
    }
  }

  &__nav-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
  }
}
