@import '../../styles/mixins';

.product-cart {
  font-family: Mont, sans-serif;
  box-sizing: border-box;
  width: 212px;
  height: 439px;

  padding: 32px;

  border: 1px solid #e2e6e9;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include tablet-only {
    width: 237px;
    height: 512px;
  }

  &__image--container {
    height: 129px;
  }

  &__img {
    height: 100%;
    display: block;
    margin: 0 auto;
    transition: transform 0.3s ease;
  }

  &__img:hover {
    transform: scale(1.1);
  }

  &__name {
    font-size: 14px;
    text-align: center;
    margin: 16px 0 8px;
    text-decoration: none;
    color: inherit;
  }

  &__price {
    font-size: 22px;
    font-weight: 800;
    margin: 0 0 8px;
    display: flex;
    justify-content: space-between;

    &--full {
      text-decoration: line-through;
      color: #89939a;
      font-weight: 600;
    }
  }

  &__separator {
    height: 1px;
    background-color: #e2e6e9;
  }

  &__specs {
    font-size: 12px;
    margin: 8px 0;

    flex-shrink: 0;
  }

  &__spec {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }

    &-title {
      color: #89939a;
    }

    &-value {
      font-weight: 700;
      color: #0f0f11;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-shrink: 0;
  }

  &__button {
    height: 40px;
    border: none;
    padding: 0;

    &--add {
      flex: 1;
      border-radius: 8px;
      background-color: #f86800;
      color: #fff;
      font-size: 14px;
      white-space: nowrap;
      padding: 0 16px;
      min-width: 0;
    }

    &--like {
      width: 40px;
      border-radius: 50%;
      border: 1px solid #b4bdc3;
      background-color: #fff;
      flex-shrink: 0;
    }

    &--heart-icon {
      display: block;
      width: 16px;
      height: 16px;
      margin: auto;
    }
  }
}
