@import '../../styles/mixins';

.product-sort {
  &__filter {
    width: 136px;
    height: 40px;
    &-text {
      display: block;
      margin-bottom: 4px;
      font-size: 14px;
      color: #89939a;
      font-weight: 600;
    }
  }

  &__select {
    position: relative;
    width: 136px;
    height: 40px;
  }

  &__trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #b4bdc3;
    background-color: white;
    cursor: pointer;
    font-size: 14px;

    &:hover {
      border-color: #9ca3af;
      background-color: #f9fafb;
    }
  }

  &__trigger-arrow {
    width: 16px;
    height: 16px;
  }

  &__options {
    position: absolute;
    width: 136px;
    margin-top: 4px;
    border: 1px solid #e2e6e9;
    border-radius: 8px;
    font-size: 14px;
    background-color: white;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  }

  &__option {
    padding: 6px 12px;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #fafbfc;
    }
  }
}
